.wrapper{
    padding: 20px;
    background-color: #f9f9f9;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.content{}

.content h1{
    font-size: 2.5rem;
    color: #333;
}

.content p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}